.clients_container {
    padding-top:100px;

    .clients_text{
            h3{
                font-size: 20px;
                font-weight: 300;
                color: gray;
                letter-spacing: .2rem;
            }
            h2{
                font-size: 80px;
                font-weight: 900;
            }

            .clients_button {
                border: solid 2px #000000;
                text-align: center;
                padding: 15px 100px;
                display: inline-block;
                margin-top: 60px;
            }
            a{
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                color: #000000;
                width: 100%;
                span{
                    svg{
                        margin-left: 15px;
                        width:20px;
                        padding: 10px 0;
                    }
                }
            }
    }
}

@media (max-width:765px){
    .clients_container {
    
        .clients_text{
                h2{
                    font-size: 60px;
                }
    
                .clients_button {
                    padding: 15px 55px;
                    margin:17% ;
                }
                a{
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #000000;
                    width: 100%;
                }
        }
    } 
}