$dinkbit-color: #018cf2;

.menu {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 9999;
    padding-bottom: 20px;
    .menuNav{
        display: flex;
        align-items: center;
        padding: 0 1rem;
        .menuLogo{
            margin-left: 1rem;
            img{
                width: 8rem;
            }
            a{
                text-decoration: none;
                font-size: 1.5rem;
            }
        }
        .menuItems {
            a {
                text-decoration: none; 
                color: #000000;
                font-size: 15px;
            }
            a:hover {
                color: $dinkbit-color;
                border-bottom: 2px solid $dinkbit-color;
            }
            ul{
                list-style-type: none;
                margin-top: 20px;
                padding-top: 10px;
                display: flex;

                li{
                    padding: 5px 1.5rem;
                }
                .blog_menu{
                    background-color: $dinkbit-color;
                    padding: 5px 20px;
                    a{
                        color: #ffffff;
                    };
                }
            }
        }
        .spacer {
            flex: 1;
        }
    
    }
}

@media (max-width: 765px){
    .menuItems{
        display: none;
    }
}

@media (min-width: 765px){
    .menuLogo{
        margin-left: 0;
    }
    .menu_toggle_button{
        display: none;
    }
}


